.button-logout {
    background-color:lightseagreen;
    color: #fff;
    padding: 3rem 7rem;
    border-radius: 3rem;
    font-size: 5rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    margin: 0 auto;
    display: block;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
}
  
  .button-logout:hover {
    background-color: darkcyan;
    border-color: darkcyan;
  }
  
 