.button-logout {
  grid-column-start: 1;
  grid-column-end: 2;
    background-color:lightseagreen;
    color: #fff;
    height: 50px;
    width: 400px;
    border-radius: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    margin: 0 auto;
    box-shadow: 0 0.5rem 1rem rgba(58, 58, 58, 0.15);
    border: none;
}

  .button-logout:hover {
    background-color: darkcyan;
    border-color: darkcyan;
  }

  .settings-main {
    padding-top: 130px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 200px);
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    gap: 10px 5px; /* Reduce the vertical gap and keep the horizontal gap small */
  }

.sttngs-box{
  
  /* padding: 20px; */
  padding-top: 40px;
  height: 9rem;
  width: 12rem;
  background-color: #fff;
  border-radius: 1rem;
  cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    /* display: block; */
    box-shadow: 0 0.5rem 1rem rgba(58, 58, 58, 0.15);
    

}
.change-pass{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  background-color: #fff;
} */

/* .profile-line-break {
  height: 1px;
  width: 300px;
  font-weight: 100;
  background-color: gray;
  margin: 3px 0;
} */