.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
  }

  .login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -150px; 
  }
  
  .logo img {
    width: 100px;
  }
  
  
  .login-box {
    background-color: var(--background-color);
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--shadow);
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 15px;
    
  }
  
  .input-group label {
    display: block;
    width: 500px;
    text-align: center;
    margin-bottom: 10px; 
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button {
    background-color: lightseagreen;
    color: var(--text-lighter-color);
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    padding: 10px 30px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: darkcyan;
  }