.chatroom-header {
  height: 50px;
  font-size: 20px;
  font-weight: 450;
  margin-block: 10px;
  text-align: left;
  background-color: rgb(184, 201, 219);
  padding-left: 5px;
  margin-inline: 10px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
}

.chatroom-name {
  margin-left: 0px;
  display: flex;
  align-items: center;
  color: white;
}

#sendButton {
  height: 50px !important;
  margin-left: 20px ;
  width: 80px;
  --bs-btn-bg: #a0c5ec;
  --bs-btn-border-color: #a0c5ec;
  --bs-btn-hover-bg:#86b0dc;
  --bs-btn-hover-border-color: #86b0dc;
}
