.chatroom-header {
  height: 50px;
  font-size: 28px;
  font-weight: 450;
  margin-block: 10px;
  text-align: left;
  background-color: wheat;
  padding-left: 10px;
  margin-inline: 10px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
}

.chatroom-name {
  margin-left: 15px;
  display: flex;
  align-items: center;
  color: white;
}
