.friends-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    cursor: pointer;
  }

  .user-avatar {
    width: 55px;
    height: 55px;
    color: var(--text-dark-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
  }

 #navCircleOn {
    background-image: url("../../../src/assets/iconOn.png");
    background-size: cover;
    background-position: center;
  }

  #navCircleOff {
    background-image: url("../../../src/assets/iconOff.png");
    background-size: cover;
    background-position: center;
  }